.searchBar {
  border: 2px solid black;
}

.searchBar__options {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
}

.searchBar__option {
  border-left: 2px solid black;
  width: 100%;
  text-align: center;
}
.searchBar__optionActive {
  border-left: 2px solid black;
  background-color: lightblue;
  width: 100%;
  text-align: center;
}
