.bottom {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.makePost__textInput {
  display: flex;
  width: 100%;
}

.makePost__textInput__submit {
  border: 2px solid black;
}

.makePost__textInput__submit__active {
  background-color: gold;
}

.makePost__textInput > input {
  width: 99.1%;
  border: 2px solid black;
  outline: none;
  height: 25px;
}

.makePost__bottom {
  display: flex;
}

.makePost__bottom__option {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}
.makePost__bottom__option__active {
  background: gold;
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

.makePost__bottom__option__inactive {
  background: lightgray;
  height: 100%;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

.bottom__result {
  display: flex;
  height: 5vh;
  width: 99.5%;
  text-align: center;
  border: 2px solid black;
}

.bottom__result:hover {
  background-color: lightgray;
}
