.dropDown {
  height: 5vh;
  display: flex;
}

.dropDown:hover {
  cursor: pointer;
  background-color: lightgray;
}

.dropDown > img {
  height: 100%;
  width: 10%;
}

.dropDown > h3 {
  margin-left: 5vw;
  margin: 1vh;
}
