.album {
  border: 2px solid black;
  text-align: center;
  width: 20%;
  height: 18vh;
}

.placeholderAlbum {
  border: 2px solid black;
  text-align: center;
  width: 20%;
  height: 18vh;
}

.placeholderAlbum > img {
  padding-top: 2vh;
  height: 60%;
  width: 70%;
}

.album > img {
  height: 60%;
  width: 70%;
}

.delete {
  color: darkred;
  padding-left: 85%;
}
