.component__header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  margin-left: 1vw;
  margin-right: 1vw;
}

.mainDisplay {
  display: flex;
  justify-content: space-between;
  /* padding-left: 2vw; */
}

.mainDisplay__inventory {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-right: 1vw;
}
